
@{
    ViewData["Title"] = "Test";
}
<h1>@ViewData["Title"]</h1>
<p>Test</p>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Credit card</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-inner">
                <div class="front">
                    <img src="background.jpg" class="background-img">
                    <div class="row">
                        <img src="/chip.png" width="60px">
                        <img src="/visa.png" width="80px">
                    </div>
                    <label class="card-number">Card number</label>
                    <input type="text" class="row card-no" placeholder="1234 5678 9101 1121">
                    <div class="row card-holder">
                        <label>CARD HOLDER</label>
                        <label class="card-data-lab">VALID TILL</label>
                    </div>
                    <div class="row name">
                        <input type="text" placeholder="HOOHOO">
                        <input type="text" class="card-data" placeholder="18/30">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>